<%- include('hautBas') -%>
         
         <section id="main-image1">
             <div class="container">
                 <h2><strong>Tout est au menu</strong></h2>
                 <p>Mangez ce que vous aimez et perdez du poids avec le programme NS.</p>
             </div>
         </section>
         
          <section id="para">
               <div class="container">
                   <h2><strong>Que comptez-vous mangez sur<br> notre plan?</strong></h2>
                 <p>Nous avons plus de 4000 recettes pour des repas délicieux<br> et satisfaisants.<br> 
                  Voici une journée type de repas avec un budget quotidien sans calories.</p>
             </div>
         </section>
         
          <section id="pti-dej">
              <div class="container">
                <img src="IMAGES/bacon-1238243__480.jpg" alt="image">
              </div>
              <div class="container right">
                <p>Petit dejeuner</p>
                  <h3><strong>Pain becon<br> tomate oeuf</strong></h3>
              </div>
          </section>
         
          <section id="dej">
              <div class="container">
                <img src="IMAGES/sushi-373588__480.jpg" alt="image">
              </div>
              <div class="container left">
                  <p>Dejeuner</p>
                  <h3><strong>sushi<br>au<br>riz,saumon</strong></h3>
              </div>
         </section>
         
          <section id="diné">
              <div class="container">
                <img src="IMAGES/chinois.jpg" alt="image">
              </div>
              <div class="container right">
                  <p>Diner</p>
                  <h3><strong>Grillé calorie<br>chinois</strong></h3>
              </div>
         </section>
         <section id="jus">
              <div class="container">
                <img src="IMAGES/vegetable-juices-1725835__480.jpg" style="width:50%" alt="image">
              </div>
              <div class="container left">
                  <p>jus vegetal</p>
                  <h3><strong>tomate,franboise<br>carotte,combcombre</strong></h3>
              </div>
         </section>
         
          <section id="dessert">
               <div class="container">
                <img src="IMAGES/bananas-282313__480.jpg" alt="image">
              </div>
              <div class="container left" style=" padding-bottom:45px; margin-left:65%">
                  <p>Dessert</p>
                  <h3><strong>Banane,dessert<br>bonbon</strong></h3>
              </div>
         </section>
         
           <section id="vert">
               <div class="container " style="margin-top: 32px"> 
                   <div class="row">
                        <div class="col-xs-5 taille" style="margin-left:50px">
                            <h3><strong>Voyez comment les<br> repas sont sans calories</strong></h3>
                        </div>
                       <div class="col-xs-5 taille" style="margin-left:100px">
                           <h3><strong>Voyez a quel point <br>nos repas sont simples</strong></h3>
                       </div>
                   </div>
                 </div>
         </section>
         
          <section id="recette">
              <div class="container">
                  <h3><strong>Commendez des recettes que vous aimer:</strong></h3> 
              </div>
              
              <div class="container" style="margin-left:110px">
              <div class="row" >
             <div class="col-md-4 rec">
                 <img src="IMAGES/RECETTE2-704971.jpeg">
                 <p><strong>cerelac au yaourt</strong></p>
             </div>
               <div class="col-md-4 rec1">
                   <img src="IMAGES/RECETTE.jpeg">
                   <p><strong>Salade comme evènement principal</strong></p>
             </div>
               <div class="col-md-4 rec">
                   <img src="IMAGES/recette1-566564.jpeg">
                   <p><strong>Fraise avec du raisin</strong></p>
             </div>
             </div>
            </div>
         </section>
<%- include('footer') -%>