<!DOCTYPE html>
<html>   
    <head>
        <title>regime alimentaire</title>
         <meta charset="utf-8"/>
        <meta name="viewport" content="wight=device-wight, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
        
    </head>
     <body>
         <section id="rose">
            <div class="container">
                <h2 style="text-align:center; margin-top:150px; font-size:60px"><strong>PAS ENCORS DISPONIBLE* !</strong></h2>
                <p style="text-align:center;">veuilez patientez svp! merci</p>
             </div>
         </section>
    </body>
</html>
            