
         <footer id="color">
              <div class="container">
              <div class="row" >
             <div class="col-md-4 texte">
                 <h3><strong>Notre compagnie</strong></h3>
                 <p>Prediabète</p>
                 <p>Sur le lieu <br>de travail</p>
                 <p>Carrière</p>
             </div>
               <div class="col-md-4 texte">
                   <h3><strong>Aidez-moi</strong></h3>
                 <p>Questions</p>
                 <p>Activer le <br>laisser passer</p>
                 <p>Plan de site</p>
             </div>
               <div class="col-md-4 texte">
                   <h3><strong>relier</strong></h3>
                 <p>alimentation</p>
                 <p>parcourir les <br>services livraison</p>
                 <p>Contactez-nous</p>
             </div>
             </div>
            </div>
         </footer>
    </body>
</html> 