<%- include('hautBas') -%>

         <section id="rose">
            <div class="tit container">
                <p>DERNIERE SEMAINE: Offres speciale jusqu'à samedi seulement</p>
                <h2> <strong>Vite, Demarrer a 0fr<br> puis -10% par mois* ! </strong></h2>
                <p>Vite, demarrer avec le programme NS</p>
             </div>
         </section>
         
         <section id="gris">
        <section id="para">
               <div class="container">
                 <p>La solution la plus complète</p>
                   <h2><strong>Les Ateliers NS: livaison rapide et<br> coaching renforcé.</strong></h2>
                   <a href="/s'inscrit" class="button-1" style="background-color:#E7698D">je m'y mets!</a>
             </div>
         </section>
         
         <section id="right">
            <div class="container">
                 <div class="row">
                 <div class=" col-md-6 ">
               <div class="texte">
                   <h3><strong>un coach regulier qui vous motive</strong></h3>
                 <p>Votre coach Wellness experte saura vous conseiller  <br> et vous guider vers le succès.</p>
             </div>
               <div class=" texte">
                 <h3><strong>un service qui vous simplifie tous</strong></h3>
                 <p>trouvez ce que vous aimez sur notre sevice livraison <br> et faits vous livrez a domicile.</p>
             </div>
                 </div>
              <div class="col-md-6">
                <img src="IMAGES/SPORT%20(2).jpeg" alt="image">
              </div>
            </div>
          </div>
         </section>
        </section>
         
      <section id="presentation2">
           <div class="container">
               <h3 style="font-size:40px"><strong>Nos tarifs coaching + livraison</strong></h3>
            </div>
               <div class="container "> 
                   <div class="row">
                        <div class="col-xs-5 taille" style="margin-left:50px">
                            <h3><strong>1 mois coaching<br>1 mois à 0fr</strong></h3>
                           <a href="#" class="button-2" style="margin-left:150px">puis 5000/semaine</a>
                        </div>
                       <div class="col-xs-5 taille" style="margin-left:100px">
                           <h3><strong>1 mois livraison<br>1 mois à 0fr</strong></h3>
                           <a href="#" class="button-2" style="margin-left:150px">puis 10000/semaine</a>
                       </div>
                   </div>
                 </div> 
         </section>
         
        <section id="orange">
            <div class="tit container">
                <h2>Choisissez la meilleure solution <br> pour vous</h2>
                <p>Quel que soit l'accompagnement choisi, WW vous aidera à atteindre vos <br> objectifs !</p>
             </div>
         </section>
         
         <section id="motivation">
             <div class="container bande">
                 
                 <h4 style=" margin-bottom:19px"><strong>Vous n’êtes pas encore abonné et vous avez besoin de renseignements ? Contactez-nous :</strong></h4>
                     
                 <h4><li><strong>par téléphone au 59642623/53888860 </strong>(n° non surtaxé - Lundi à Vendredi 9h-18h et Samedi 9h-12h)</li></h4>
                 
                <h4 style="margin-right:405px; margin-bottom:19px;"><li><strong>par email:</strong><a href="#">adjoua.konan@uvci.edu.ci</a></li></h4>
                 
                <h4 style=" margin-bottom:19px; margin-right:70px;"><strong>Vous êtes déjà abonné et vous avez besoin d’information ? Contactez-nous :</strong></h4>
                 
                 <h4><li><strong>par téléphone au 59642623/53888860</strong> (n° non surtaxé - Lundi à Vendredi 9h-18h et Samedi 9h-12h)</li></h4>
                 
                 <h4 style="margin-left:50px"><li><strong>par email :</strong> rendez-vous sur la page « Nous contacter » et choisissez le motif correspondant à votre demande</li></h4>
                 
                <p>**D’après une évaluation réalisée par le centre de formation Not a Number(MaN) <br> avec la participation d’un panel d’experts de l’alimentation  <br>et de la nutrition, n° du 2 janvier 2019.</p>
             </div>
         </section>

<%- include('footer') -%>