<%- include('hautBas') -%>
 <section id="rose">
            <div class="tit container">
                <p>le coaching c'est notre fort</p>
                <h2><strong>Nous saluons votre arrivé !</strong></h2>
                <p>la livraison aussi rapide que le vent</p>
             </div>
         </section>

         <section id="presentation">
               <div class="container " style="margin-top: 32px"> 
                   <div class="row">
                        <div class="col-xs-5 taille" style="margin-left:50px;">
                            <h3 style="text-align:center;"><strong>commande alimentaire</strong></h3>
                            <p style="text-align:center; font-size:19px;"><a href="/serviceLivraison"style="color:#4a148c;">je passe<br> ma commande</a></p>
                        </div>
                       <div class="col-xs-5 taille" style="margin-left:100px">
                           <h3 style="text-align:center;"><strong>coaching personnel</strong></h3>
                           <p style="text-align:center; font-size:19px;"><a href="/coaching" style="color:#4a148c;">je choisir<br> mon coach</a></p>
                       </div>
                   </div>
                 </div>
         </section>

   <section class="container">
             <div class="motivation">
                  <h5>Deux ans maintenant,que plus de 3000 personnes suivent le programmes NS,<br> mous remercies pour les changements visibles<br> sur leurs silhouettes. Rien de plus simple et facile<br> pour suivre nos challenges. Desormais plus d'excuse lancez-vous!.</h5>
              </div>
         </section>
<%- include('footer') -%>