<%- include('hautBas') -%>
         
         <section id="programme">
            <div class="container titres">
                <p>diversité de programme NS</p>
                <h3><strong>Vite, Demarrer a 0fr<br> puis -10% par mois* !</strong></h3>
                <p style="margin-top:20px">DERNIERE SEMAINE: Offres speciale jusqu'à samedi seulement</p>
             </div>
         </section>
         
        <section id="programme1">
            <div class="container">
                 <div class="row">
                 <div class=" col-md-6 ">
               <div class="texte">
                   <h2 style="margin-bottom:28px; font-size:40px;"><strong> Programme NS Liberté :<br> encore plus facile à vivre</strong></h2>
                 <p><li><strong>Mangez ce que vous aimez: </strong> chez NS, la valeur<br> nutritionnelle de chaque aliment ou boisson<br> s'exprime en SmartPoints® qui valorise les protéines<br> et pénalise le gras et le sucre. Tout est au menu !<br> Grâce à plus de 200 aliments sans calories, plus<br> besoin de tout compter ni mesurer.</li></p>
                   
                 <p><li><strong>Bouger comme il vous plait: </strong> votre activité vous<br> rapporte des FitPoints ®. Personnalisés selon votre<br> taille, poids, âge,… ils vous motivent et vous guident.<br> Vous trouverez des centaines<br> de suggestions sur la page : aquagym, running, Zumba,<br> musculation...</li></p>
                   
                 <p><li><strong>Voir les choses autrement: </strong>quand vous vous sentez<br> bien vous avancez et faites les meilleurs choix. C'est<br> pourquoi WW puise dans les sciences<br> comportementales pour vous aider à avoir un état<br> d'esprit positif.</li></p>
                </div>
                 </div>
              <div class="col-md-6">
                <img src="IMAGES/programme%20(2).jpeg" alt="image" style="margin-top:200px">
              </div>
            </div>
          </div>
         </section>
         
         <section id="programme2">
               <div class="container FF">
                <h2 style="margin-bottom:30px; font-size:40px; color:#190312;"><strong>Démarrage Express pour<br> NS Liberté</strong></h2>
                   <p><strong>Pour tous ceux qui souhaitent perdre du poids<br> tout de suite</strong></p>
                  <p>- 2 semaines de menus clés en main</p>
                    <p>- Liste de courses pour vous simplifier la vie,</p>
                    <p>- Des astuces pour bouger plus et rester motivé,</p>
                    <p>- Optimisation de votre perte de poids sur les<br>2 premières semaines </p>
                </div>
        </section>
         
         <section id="programme3">
            <div class="container">
                 <div class="row">
                 <div class=" col-md-6 ">
                   <h2 style="margin-bottom:28px; font-size:40px; padding-top:18px;"><strong>+ de 200 aliments <br>sans calorie</strong></h2>
                   <p>Pour encore plus de liberté, + de 200 aliments délicieux <br>et rassasiants à ne pas compter ni mesurer dont :</p>
                   <p>
                    - Les légumineuses, comme les lentilles ou les pois<br> chiches<br>
                    -  Les œufs<br>
                    - Tous les poissons même le saumon<br>
                    -  Les escalopes de poulet et dinde<br>
                    - Les yaourts nature à 0%<br>
                    - Tous les fruits, même la banane<br>
                    - Tous les légumes…
                   </p>
                </div>
              <div class="col-md-6">
                <img src="IMAGES/famille.jpeg" alt="image">
              </div>
                 </div>
            </div>
         </section>
         
         <section id="programme4">
                 <div class="container TEXT">
                     <h2 style=" font-size:40px;"><strong>Nouveau coaching</strong></h2>
                    <p>
                    1. Encore plus de conseils personnalisés, perte de poids <br>ou bien-être, de votre Coach<br>
                    2.  La pesée est facultative et vous profitez du nouveau<br> check-in pour faire un bilan nutrition,<br> activité physique et état d’esprit<br>
                    3. Nouveaux thèmes et nouveaux livrets programme<br>
                   </p>
                </div>
         </section>
         
         <section id="programme5"> 
             <div class="container pages">
                 <h3 style="color:#190312; font-size:40px; margin-bottom:20px"><strong>NS : 8 fois + efficace que de<br> maigrir seul **</strong></h3>
                 <h5  style="color:white; margin-bottom:20px">**D’après une étude sur 147 personnes ayant utilisé les Ateliers WW et les outils digitaux pendant<br> 6 mois vs 145 essayant seul sans programme</h5>
                 <a href="/s'inscrit" class="button-1"><strong>je me lance"</strong></a>
             </div>
         </section>

        <section id="motivation">
             <div class="container bande">
                 
                 <h4 style=" margin-bottom:19px"><strong>Vous n’êtes pas encore abonné et vous avez besoin de renseignements ? Contactez-nous :</strong></h4>
                     
                 <h4><li><strong>par téléphone au 59642623/53888860 </strong>(n° non surtaxé - Lundi à Vendredi 9h-18h et Samedi 9h-12h)</li></h4>
                 
                <h4 style="margin-right:405px; margin-bottom:19px;"><li><strong>par email:</strong><a href="#">adjoua.konan@uvci.edu.ci</a></li></h4>
                 
                <h4 style=" margin-bottom:19px; margin-right:70px;"><strong>Vous êtes déjà abonné et vous avez besoin d’information ? Contactez-nous :</strong></h4>
                 
                 <h4><li><strong>par téléphone au 59642623/53888860</strong> (n° non surtaxé - Lundi à Vendredi 9h-18h et Samedi 9h-12h)</li></h4>
                 
                 <h4 style="margin-left:50px"><li><strong>par email :</strong> rendez-vous sur la page « Nous contacter » et choisissez le motif correspondant à votre demande</li></h4>
                 
                <p>**D’après une évaluation réalisée par le centre de formation Not a Number(MaN) <br> avec la participation d’un panel d’experts de l’alimentation  <br>et de la nutrition, n° du 2 janvier 2019.</p>
             </div>
         </section>

<%- include('footer') -%>