<%- include('hautBas') -%>

            <div class="container site">
<!--                <img src="IMAGES/commande.png">-->
                <h1><span><strong>PASSER<br> VOTRE COMMANDE</strong></span></h1>
                <nav>
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#1" data-toggle="tab">Petit-dejeuner</a></li>
                        <li role="presentation"><a href="#2" data-toggle="tab">Dejeuners</a></li>
                         <li role="presentation"><a href="#3" data-toggle="tab">Diners</a></li>
                         <li role="presentation"><a href="#4" data-toggle="tab">Desserts</a></li>
                    </ul>
                </nav>
              </div>
         
         <div class="tab-content">
         <div class="tab-pane active" id="1">
             <div class="row">
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/petitdej.jpeg" alt="image">
                         <div class="prix">1500fr</div>
                         <div class="caption">
                             <h4><strong>salade&cornichon fourré dans du pain</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/petitdej9.jpeg" alt="image">
                         <div class="prix">1500fr</div>
                         <div class="caption">
                             <h4><strong>sandwich</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/petitdej8.jpg" alt="image">
                         <div class="prix">1500fr</div>
                         <div class="caption">
                             <h4><strong>cerelac au fruit</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/petitdej4.jpeg" alt="image">
                         <div class="prix">1500fr</div>
                         <div class="caption">
                             <h4><strong>sandwich au<br>oeuf et salade</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/petitdej3.jpeg" alt="image">
                         <div class="prix">1500fr</div>
                         <div class="caption">
                             <h4><strong>pain biscuité<br> sucré salé</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/petitdej6.jpeg" alt="image">
                         <div class="prix">1500fr</div>
                         <div class="caption">
                             <h4><strong>pastek<br> fruité</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
             
         <div class="tab-pane" id="2">
             <div class="row">
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/dej.jpeg" alt="image">
                         <div class="prix">2500fr</div>
                         <div class="caption">
                             <h4><strong>pomme frits au poulet,carotte,poivron</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/dej1%20(2).jpeg" alt="image">
                         <div class="prix">2500fr</div>
                         <div class="caption">
                             <h4><strong>poisson sauce accompagné de puré</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/dej2.jpeg" alt="image">
                         <div class="prix">2500fr</div>
                         <div class="caption">
                             <h4><strong>poulet marrainé au four</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/dej3.jpeg" alt="image">
                         <div class="prix">2500fr</div>
                         <div class="caption">
                             <h4><strong>petit poids au omelettes</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/dej4.jpeg" alt="image">
                         <div class="prix">2500fr</div>
                         <div class="caption">
                             <h4><strong>frites,poulet,ketchop</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/dej5.jpeg" alt="image">
                         <div class="prix">2500fr</div>
                         <div class="caption">
                             <h4><strong>soupe sauté de viande</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
             
         <div class="tab-pane" id="3">
             <div class="row">
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/din%C3%A9.jpeg" alt="image">
                         <div class="prix">2000fr</div>
                         <div class="caption">
                             <h4><strong>spaguetti au crevette</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/din%C3%A91.jpeg" alt="image">
                         <div class="prix">2000fr</div>
                         <div class="caption">
                             <h4><strong>puré de pomme de terre au saucisse</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/din%C3%A92.jpeg" alt="image">
                         <div class="prix">2000fr</div>
                         <div class="caption">
                             <h4><strong>salade de laitui au pain</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/ALIMENT3.jpeg" alt="image">
                         <div class="prix">2000fr</div>
                         <div class="caption">
                             <h4><strong>poisson au fou,choux de fleur</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/din%C3%A94.jpeg" alt="image">
                         <div class="prix">2000fr</div>
                         <div class="caption">
                             <h4><strong>coucous au courgette</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/din%C3%A96.jpeg" alt="image">
                         <div class="prix">2000fr</div>
                         <div class="caption">
                             <h4><strong>frites,poisson frit,tomate</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
             
             <div class="tab-pane" id="4">
             <div class="row">
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/DESSERT1.jpg" alt="image">
                         <div class="prix">1000fr</div>
                         <div class="caption">
                             <h4><strong>fraise à creme</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/DESSERT2.jpeg" alt="image">
                         <div class="prix">1000fr</div>
                         <div class="caption">
                             <h4><strong>gateau au chocolat</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/DESSERT3.jpeg" alt="image">
                         <div class="prix">1000fr</div>
                         <div class="caption">
                             <h4><strong>gateau crèmé</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/DESSERT4.jpeg" alt="image">
                         <div class="prix">1000fr</div>
                         <div class="caption">
                             <h4><strong>gateau coloré</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/DESSRT5.jpeg" alt="image">
                         <div class="prix">1000fr</div>
                         <div class="caption">
                             <h4><strong>gateau au four au chocolat</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 col-md-4">
                     <div class="thumbnail">
                         <img src="IMAGES/DESSERT6.jpeg" alt="image">
                         <div class="prix">1000fr</div>
                         <div class="caption">
                             <h4><strong>gateau au four a la fraise</strong></h4>
                             <a href="#" class="btn btn-order" role="button"><span>commander</span></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         </div>
    </body>
</html>